/*-- scss:defaults --*/

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


// Colors
$light-sage-green: #D1D9CE;
$dark-sage-green: #98A08D;
$cream: #FDFBF7;
$gray: #64605f;
$light-gray: #949799;

// Base document colors
$navbar-hl: $dark-sage-green; // highlight color when hovering over navbar links
$body-bg: $cream; // page background 
$body-color: $gray; // page text 
$footer-bg: $light-sage-green; // footer 
$link-color: $dark-sage-green; // hyperlinks 

